%h1 Your Status

.hero-unit
  %h2 Base Informations
  = form_for @user, html: { id: 'user-edit-form', class: 'form-horizontal' } do |f|
    .control-group
      %label.control-label{for: 'name'}
        Name
      .controls
        = f.text_field :name, name: 'name', style: 'margin-bottom:10px'
      %label.control-label{for: 'email'}
        E-Mail
      .controls
        = f.email_field :email, name: 'email', style: 'margin-bottom:10px'

.hero-unit
  %h2 Connecting Services
  %dl.dl-horizontal
    - @user.access_tokens.each do |access_token|
      %dt 
        = access_token.provider.capitalize
      %dd 
        = (access_token.twitter? ? "@" : "") + access_token.name

%script
  UserActions.bindUpdate(#{current_user.id}, "user_name", "user_email");
